# Ignore gitignore
.gitignore

# Ignore original data folder
ARGUE/

# Ignore jobs folder
jobs/

# Ignore jobs inside FACTUM and scale folders
FACTUM-main/FACTUM/jobs/
FACTUM-main/scale/jobs/

# Ignore all plots 
FACTUM-main/scale/results/llama3.1-8b_neuclir24/plots/
FACTUM-main/scale/results/llama3.2-3b_neuclir24/plots/

# Ignore all folders inside analysis10 folder
FACTUM-main/scale/results/llama3.1-8b_neuclir24/analysis10/12_feature_rank_comprehensive/*
FACTUM-main/scale/results/llama3.2-3b_neuclir24/analysis10/12_feature_rank_comprehensive/*
FACTUM-main/scale/results/llama3.1-8b_neuclir24/analysis10/23_paper_qualitative_analysis_30percent/*
FACTUM-main/scale/results/llama3.2-3b_neuclir24/analysis10/23_paper_qualitative_analysis_30percent/*
FACTUM-main/scale/results/llama3.1-8b_neuclir24/analysis10/24_paper_qualitative_analysis_30percent/*
FACTUM-main/scale/results/llama3.2-3b_neuclir24/analysis10/24_paper_qualitative_analysis_30percent/*
FACTUM-main/scale/results/llama3.1-8b_neuclir24/analysis10/25_paper_confident_prediction_planes_30percent/*
FACTUM-main/scale/results/llama3.2-3b_neuclir24/analysis10/25_paper_confident_prediction_planes_30percent/*
FACTUM-main/scale/results/llama3.1-8b_neuclir24/analysis10/26_significance_testing/*
FACTUM-main/scale/results/llama3.2-3b_neuclir24/analysis10/26_significance_testing/*
FACTUM-main/scale/results/llama3.1-8b_neuclir24/analysis10/poster_plots_min/*
FACTUM-main/scale/results/llama3.2-3b_neuclir24/analysis10/poster_plots_min/*

# Unignore significance testing results
!FACTUM-main/scale/results/llama3.1-8b_neuclir24/analysis10/26_significance_testing/significance_test_results.csv
!FACTUM-main/scale/results/llama3.2-3b_neuclir24/analysis10/26_significance_testing/significance_test_results.csv

# Unignore plots from the paper
!FACTUM-main/scale/results/llama3.1-8b_neuclir24/analysis10/25_paper_confident_prediction_planes_30percent/confident_plane_ecs_prompt_final_vs_parameter_knowledge_Logistic_Regression.png
!FACTUM-main/scale/results/llama3.2-3b_neuclir24/analysis10/25_paper_confident_prediction_planes_30percent/confident_plane_ecs_prompt_final_vs_parameter_knowledge_Logistic_Regression.png
!FACTUM-main/scale/results/llama3.1-8b_neuclir24/analysis10/25_paper_confident_prediction_planes_30percent/confident_plane_ecs_final_vs_v_ffn_norm_Logistic_Regression.png
!FACTUM-main/scale/results/llama3.2-3b_neuclir24/analysis10/25_paper_confident_prediction_planes_30percent/confident_plane_ecs_final_vs_v_ffn_norm_Logistic_Regression.png


!FACTUM-main/scale/results/llama3.1-8b_neuclir24/analysis10/25_paper_confident_prediction_planes_30percent/confident_plane_ecs_prompt_final_vs_parameter_knowledge_Logistic_Regression.png
!FACTUM-main/scale/results/llama3.2-3b_neuclir24/analysis10/25_paper_confident_prediction_planes_30percent/confident_plane_ecs_prompt_final_vs_parameter_knowledge_Logistic_Regression.png
!FACTUM-main/scale/results/llama3.1-8b_neuclir24/analysis10/25_paper_confident_prediction_planes_30percent/confident_plane_ecs_final_vs_v_ffn_norm_Logistic_Regression.png
!FACTUM-main/scale/results/llama3.2-3b_neuclir24/analysis10/25_paper_confident_prediction_planes_30percent/confident_plane_ecs_final_vs_v_ffn_norm_Logistic_Regression.png

# !FACTUM-main/scale/results/llama3.1-8b_neuclir24/analysis10/23_paper_qualitative_analysis_30percent
# !FACTUM-main/scale/results/llama3.2-3b_neuclir24/analysis10/23_paper_qualitative_analysis_30percent